{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
  <div class="text-center my-5">
    <h1 class="display-4">Welcome to Green Bay Packers Stats Hub!</h1>
    <p class="lead">
      Explore the latest stats, manage your favorite players, and more!
    </p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card h-100 text-center">
        <img
          src="{{ url_for('static', filename='packers-field.jpeg') }}"
          class="card-img-top"
          alt="Players"
        />
        <div class="card-body">
          <h5 class="card-title">Players</h5>
          <p class="card-text">
            View and explore stats of all Green Bay Packers players.
          </p>
          <a href="/players" class="btn btn-success">View Players</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100 text-center">
        <img
          src="{{ url_for('static', filename='packers-fans.jpeg') }}"
          class="card-img-top"
          alt="Favorites"
        />
        <div class="card-body">
          <h5 class="card-title">Favorites</h5>
          <p class="card-text">
            Manage your favorite players and keep track of them.
          </p>
          <a
            href="{{ url_for('favorites.my_favorites') }}"
            class="btn btn-success"
            >My Favorites</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100 text-center">
        <img
          src="{{ url_for('static', filename='packers-stats.jpg') }}"
          class="card-img-top"
          alt="Add Stats"
        />
        <div class="card-body">
          <h5 class="card-title">Add Stats</h5>
          <p class="card-text">
            Logged-in users can add or update player stats.
          </p>
          <a href="/add-stats" class="btn btn-warning">Add Stats</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
